@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
    background: url('LOUVRE.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header i {
    font-size: 40px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    padding: 10px;
}

.header i:hover {
    animation: pulse 0.5s infinite alternate; /* Ajout d'une animation sur l'effet de survol */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
}

.navbar a {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
    position: relative;
}

.navbar a::before {
    content: '';
    position: absolute;
    bottom: -2px; /* Correction de la position */
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s; /* Ajout d'une transition pour l'effet de survol */
}

.navbar a:hover::before {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center; /* Pour centrer le texte horizontalement */
    transition: all 1s ease-out;
}


.content h1 {
font-size: 55px;
margin-top:0px;
text-shadow: 1px 1px 2px rgb(0, 0, 0); /* Ajoute une ombre portée légère */
}

.content p {
    margin: 10px;
    font-size: 18px; /* Réduit légèrement la taille de la police */
    line-height: 1.6; /* Augmente l'espacement entre les lignes */
    font-family: 'Roboto', sans-serif; /* Change la police en Roboto ou une autre police sans-serif */
    color: #ffffff; /* Couleur du texte */
    text-shadow: 1px 1px 2px rgb(0, 0, 0); /* Ajoute une ombre portée légère */
  }
  .footer {
    text-align: center;
    background-color: #000000; /* Couleur de fond du footer */
    color: #ffffff; /* Couleur du texte du footer */
    padding: 20px 0; /* Espacement intérieur du footer */
    position: fixed;
    bottom: 0;
    width: 100%;
}




